* {
	font-family: 'JelleeBold';
	color: #FFD700;
	text-align: center;
}
body {
	width: 90%;
	margin: 0 auto;
	background-image: url("https://images.unsplash.com/photo-1629197521865-4946b4acd2b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF2eSUyMGJsdWV8ZW58MHx8MHx8&w=1000&q=80");
	background-repeat: no-repeat;
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
	margin: 1%;
}
#nav {
	background-color: #000080;
}
.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}
	.column3 {
	margin-right: 0%;
}
.column1 {
	background-color: #ADD8E6;
}
.column2 {
	background-color: #00FFFF;
}
.column3 {
	background-color: #A7A18F;
}
li {
	display: inline;
	padding: 0.5em;
}
#footer {
	background-color: #5A5A5A;
	padding: 0.5em 0;
}
#feature, .article {
	height: 10em;
	margin-bottom: 1em;
}
#feature {
	background-color: #E8E4C9;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShRjmJU_vIR5_rp0Db0YwOOncYPI7NFQm0rd2r-OXppH_biCO4i4V8CFkXCvjHVgjwt44:https://varsitybase.com/imagecache/frontend-school-mascot/product_images/770/yH3NHThqNL9ycIs29vRF6knCwngBj3fnLaTeNPhZ.jpeg&usqp=CAU");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}
