body, p, td { 
  font-family: Arial, Verdana, Helvetica, sans-serif; 
  font-size: 10pt; 
}
A {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
B {	
  font-family: Arial, Helvetica, sans-serif;	
  font-size: 12px;	
  font-weight: bold;
}
.error_strings {
  font-family: Verdana; 
  font-size:14px; 
  color:#660000;
  float: left;
}
img {
  float: left;
  width:5%;
  height:5%;
}
table {
  padding:2px; 
  border:0;
}
td { 
  margin-right:0;
}
