* {
	font-family: 'JelleeBold';
	color: #FDD017;
	text-align: center;
}
body {
	width: 90%;
	margin: 0 auto;
	background-image: url("https://t4.ftcdn.net/jpg/05/25/26/35/360_F_525263584_x7NJHO63xd7G3WNr37vLGmtbfRI01vsy.jpg");
	background-repeat: repeat;
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
	margin: 1%;
}
#nav {
	background-color: #0C3D6E;
}
p {
	line-height: 1.5;
}
li {
	display: inline;
	padding: 0.5em;
}
#footer {
	background-color: #000080;
	padding: 0.5em 0;
}
#feature, .article {
	height: 40em;
	margin-bottom: 1em;
}
#feature {
	background-color: #00008B;
}
img {
	width:5%;
	height:10%;
}
